@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Gelasio Semibold;
    src: url("/assets/font/Gelasio-SemiBold.ttf");
}

@font-face {
    font-family: Gelasio Regular;
    src: url('/assets/font/Gelasio-Regular.ttf');
}

@font-face {
    font-family: Gelasio Medium;
    src: url('/assets/font/Gelasio-Medium.ttf');
}

@font-face {
    font-family: Gelasio Bold;
    src: url('/assets/font/Gelasio-Bold.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

.wrapper {
    max-width: 1200px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}


p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;

}

a {
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

li {
    list-style: none;
    text-decoration: none;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Gelasio Semibold;
    color: #000;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 36px;
}

.bg-green {
    background-color: #64843d;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 1rem 3rem 1rem 0rem;

}

.text-brown {
    color: #6f4741;
}

.web__logo {
    width: 70px;
}

.white-nav {
    background-color: #ffff;
}

.btn-brown button {
    border: none;
    background-color: #6f4741;
    color: #FFF;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 14px;
}

.nav-area ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.transparent {
    margin-top: 16px;
}

.nav-area ul li {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-color {
    color: #e2dac7;
}

.banner-bg {
    background-image: url('/assets/images/banner__img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: -69px; */
    position: relative;
    /* z-index: -1; */
}

.blogs_slider {
    margin-top: 8%;
}

.inner-pad {
    padding-top: 6%;
    padding-bottom: 6%;

}

.custom-digit {
    border: 2px solid #e2dac7;
    border-radius: 100%;
    padding: 0.5rem 0.9rem;
}

.fixed-header {
    position: absolute;
    left: 0;
    z-index: 20;
    width: 100%;
}

.alignment {
    position: absolute;
}

.slick-dots {
    position: absolute;
    bottom: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li {
    width: 250px;
}

.small-icons {
    justify-content: center;
    align-items: center;
    display: flex;
}

.small-icons img {
    width: 80%;
}

.text-small {
    font-size: 14px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.brands-achievement {
    background-color: #f0ece3;
    padding-top: 4%;
    padding-bottom: 4%;
}

.spacing {
    margin-top: 5%;
    margin-bottom: 5%;
}

.gallery__img {
    position: relative;
    width: max-content;
}

.title-image {
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

.green-stripe {
    background-image: url('/assets/images/green-stripe.png');
    background-position: left center;
    background-size: 90%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.bg-white-1 {
    background-color: #FFF;
    padding: 1rem;
    margin-top: -20%;
    position: relative;
    z-index: 1;
    width: 80%;
}

.povedali {
    background-image: url('/assets/images/image-7.png');
    background-size: cover;
    background-position: center;
    padding-top: 4%;
    padding-bottom: 4%;
}

.darkblue {
    background-color: #090b17;
    padding-top: 8%;
    padding-bottom: 8%;
    height: 350px;
}

.lightblue {
    background-color: #0e1225;
    padding-top: 8%;
    padding-bottom: 8%;
    height: 350px;
}

.there-links ul {
    padding: 0;
}

.there-links ul li a {
    color: #FFF;
    font-weight: 200;
}

.there-links ul li {
    margin-top: 5px;
}

.placment__img {
    width: 60px;
}

.adjustment {
    margin-bottom: 57px !important;
}

.text-grey {
    color: #6d707c;
}

.hamgurger i {
    font-size: 25px;
    cursor: pointer;
}

/* .offcanvas{
    background-color: #000 !important;
} */
.mobile-menu_right ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.back-top-button {
    position: fixed;
    z-index: 999;
    bottom: 1rem;
    right: 1.5rem;
}

.banner-bg-2 {
    background-image: url('/assets/images/image-18.png');
    background-size: cover;
    background-position: center;
    padding-top: 13%;
    padding-bottom: 5%;
}

.page-2-banner {
    background-image: url('/assets/images/image-8.png');

}

.page-3-banner {
    background-image: url('/assets/images/image-9.png');
    background-size: cover;
    padding-top: 13%;
    background-position: center;
    padding-bottom: 5%;
}

.page-4-banner {
    background-image: url('/assets/images/image-11.png');
    background-size: cover;
    padding-top: 13%;
    padding-bottom: 5%;
}

.page-5-banner {
    background-image: url('/assets/images/image-13.png');
    background-size: cover;
    background-position: center;
    padding-top: 13%;
    padding-bottom: 5%;
}

.page-6-banner {
    background-image: url('/assets/images/image-14.png');
    background-size: cover;
    background-position: center;
    padding-top: 13%;
    padding-bottom: 5%;
}

.page-7-banner {
    background-image: url('/assets/images/image-15.png');
    background-size: cover;
    background-position: center;
    padding-top: 13%;
    padding-bottom: 5%;
}

.page-8-banner {
    background-image: url('/assets/images/image-16.png');
    background-size: cover;
    background-position: center;
    padding-top: 13%;
    padding-bottom: 5%;
}

.page-9-banner {
    background-image: url('/assets/images/image-17.png');
    background-size: cover;
    background-position: center;
    padding-top: 13%;
    padding-bottom: 5%;
}

.page-10-banner {
    background-image: url('/assets/images/image-19.png');
    background-size: cover;
    background-position: center;
    padding-top: 13%;
    padding-bottom: 5%;
}

.peach-bg {
    background-color: #f0ece3;
    padding-top: 5%;
    padding-bottom: 5%;
}

.table__image {
    width: 350px;
}

.table__image1 {
    width: 155px !important;
}

.table-area table {
    width: 100%;
}

.table-area table thead tr th {
    background-color: #f0ece3;
    padding: 20px;
}

.table-area table tbody tr td {
    padding: 20px;
    border-bottom: 1px solid #f0ece3;
}

th {
    font-size: 14px;
}

td {
    font-size: 14px;
    font-weight: 500;
}

.my-map iframe {
    width: 100%;
}

.bg-green-card {
    background-color: #64843d;
    padding: 2rem;
    transform: translateY(-25px);
}

.contact-form {
    transform: translateY(-30px);

}

.no-tranfrom {
    transform: translateY(0px) !important;

}

.tokyo {
    background-color: #64843d;
    font-size: 10px;
    padding: 3px 3px;
    position: absolute;
    color: #FFF;
    top: -10px;
    left: 10px;
}

.my-input {
    background-color: transparent;
    border-radius: 0;
    color: #FFF;
}

input::placeholder {
    color: #FFF !important;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: transparent;
    border-color: #FFF;
    outline: 0;
    box-shadow: none;
}

.form-select {
    font-size: 14px;
    padding: 8px 10px;
}

.range-feild label {
    color: #FFF;
    font-size: 12px;
}

/* Custom styling for the range input */
#customRange1 {
    /* Set the color of the line (track) to white */
    --thumb-color: white;
    --track-color: white;
    --track-height: 2px;
    /* Set the height of the track */
    --thumb-size: 12px;
    /* Set the size of the thumb */
}

/* Styling for the thumb (ball) */
#customRange1::-webkit-slider-thumb {
    /* Set the color and size of the thumb */
    background-color: var(--thumb-color);
    border: 1px solid var(--thumb-color);
    width: var(--thumb-size);
    height: var(--thumb-size);
    margin-top: -5px;
    /* Adjust the margin to center the thumb vertically */
}

/* Styling for the track (line) */
#customRange1::-webkit-slider-runnable-track {
    /* Set the color and height for the track */
    background-color: var(--track-color);
    height: var(--track-height);
}

/* Styling for the value display */
.slider-value {
    position: relative;
    color: white;
    font-size: 14px;
    text-align: start;
    margin-top: -10px;
    /* Adjust the margin to position the text below the thumb */
}

.check-box input {
    background-color: transparent;
    border-radius: 0 !important;
}

.text-smaller {
    font-size: 10px;
}

#risk-width {
    width: 85.333333%;
}

.table__image {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.cursor {
    cursor: pointer;
}

.bg-green-card select option {
    background-color: #64843d;
}

.form-select:focus {
    border-color: #FFF;
    outline: 0;
    box-shadow: none;
}

.form-select {
    background-image: url("/assets/images/select-arrow.png") !important;
    background-size: 13px;

}

.contact_img {
    width: 45px;
}

.text-small-btn {
    font-size: 12px !important;
    font-weight: 700;
}

textarea {
    color: #FFF !important;
    padding-top: 1rem;
}

input {

    color: #FFF !important;
}

textarea::placeholder {
    color: #FFF !important;
    font-size: 12px;
    padding-top: 5px;
}

.nav-tabs button {
    background-color: transparent;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #c6bca6;
}

.wooden-area-1 {
    transform: translateY(50px);
    margin-bottom: 3rem;
}

.nav-tabs {
    border-bottom: none !important;
}